/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* General */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
body {
  height: 100%;
  background-color: #2D2929;
}

html {
  min-height: 100%;
  position: relative;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Background Color */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.grayBG {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  /*background-image: url('../img/bg.png');*/
  /*-webkit-background-size: cover;
  background-size: cover;*/
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Header */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.title {
  font-family: 'Pacifico', cursive;
  color: #000;
}

.sblobTitle:hover {
  text-decoration: none;
}

.bellAndSignIn {
  color: #000;
}

.bellAndSignIn:hover {
  color: #000;
}

.text-center .searchInput {
  width: 270px;
  font-weight: 200;
}

.girlOne {
  width: 60px;
}

.nameAndDate {
  display: inline;
  position: relative;
  top: -45px;
  left: 70px;
}

.headerWrapper {
  margin-top: 20px;
  height: 4.5em;
  padding-right: 10px;
  padding-left: 10px;
}

span.date {
  font-weight: 200;
  font-size: 10px;
  position: relative;
  top: -5px;
}

ul.social {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 14px;
}

img.socialIcon {
  width: 20px;
  height: 20px;
}

.social span.userName {
  color: #7D7D8B;
}

.social span.userName,
.social span.likes {
  font-size: 9px;
}

.social li {
  text-align: left;
  line-height: 9px;
  margin-right: 20px;
}

.socialInfo {
  float: right;
}

.userPhotoAndDate {
  float: left;
}

.mainHeaderWrapper {
  background-color: #fff;
  padding-top: 10px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Main */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.main img {
  border: 3px solid #F0E33E;
}

.main {
  color: #F9F9F9;
  position: relative;
  width: 1060px;
}

.poem {
  margin-top: 25px;
}

.poem p {
  font-size: 11px;
  line-height: 1.2;
  width: 125%;
}

.poem .girlTwo {
  width: 415px;
  max-width: initial;
}

.bio .girlThree {
  width: 250px;
  max-width: initial;
  position: relative;
  left: 44px;
}

.bio .girlFour {
  width: 365px;
  max-width: initial;
  position: relative;
  top: 55px;
  left: 65px;
}

.bio2 .girlFive {
  width: 250px;
  max-width: initial;
  position: relative;
  top: 52px;
  left: 143px;
}

.bio .bioTitle {
  font-size: 6.5em;
  position: relative;
  left: .9em;
  top: 5px;
}

.bio2 p {
  font-size: 11px;
  font-weight: 600;
  position: relative;
  top: 80px;
  width: 380px;
  left: 43px;
}

.ion-android-expand {
  color: #7D7D7F;
  position: absolute;
  right: 5px;
  top: 130px;
  z-index: 150;
  width: 15px;
  border: none !important;
}

.ion-android-expand.fs {
  display: none;
}

.ion-ios-arrow-forward {
  color: #4E4B4B;
  font-size: 6em;
  position: absolute;
  right: 110px;
  top: 50%;
  z-index: 150;
  border: none !important;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  width: 40px;
}

.ion-ios-arrow-backward {
  color: #4E4B4B;
  font-size: 6em;
  position: absolute;
  left: 110px;
  top: 50%;
  z-index: 150;
  border: none !important;
  width: 40px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Footer */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.footerBG {
  height: 45px;
  background-color: #1D1D1F;
  position: relative;
  top: 5px;
  margin-bottom: 10px;
  z-index: 150;
}

.footerBG img.img-responsive {
  margin: 0 auto;
  opacity: 0.6;
}

.footerBG img.img-responsive.active {
  opacity: 1;
}

.thumb_a {
  width: 30px;
  max-height: 40px;
}

.thumb_b {
  width: 64px;
  max-height: 40px;
}

ul.thumbnails {
  padding: 0;
  margin: 0;
  display: inline-flex;
  position: relative;
  top: 2.7px;
}

ul.thumbnails li {
  display: block;
  margin-right: 7px;
}

footer .container {
  width: 1060px;
}

.footerBlurb {
  position: absolute;
  width: 175px;
  background-color: #595758;
  color: #fff;
  left: 10px;
  bottom: 35px;
  font-size: 12px;
  font-weight: 400;
  padding: 1px;
  display: none;
  z-index: 150;
}

.footerBlurb p {
  margin: 0;
  padding: 2px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Footer Icons */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.footerInfoCircle {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: #BBBCC0;
  font-size: 20px;
  margin-bottom: 10px;
}

ul.footerRightIcons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-flex;
  list-style: none;
}

ul.footerRightIcons li {
  margin-right: 10px;
}

ul.footerRightIcons li a {
  color: #7D7D7F;
  font-weight: 600;
}

ul.footerRightIcons li a:hover {
  text-decoration: none;
}

ul.footerRightIcons li a img {
  width: 15px;
  top: -2px;
}

ul.footerRightIcons li a img.eye {
  width: 25px;
  top: -2px;
  position: relative;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Hamburger */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
#hamburger {
  width: 30px;
  height: 45px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
  top: -10px;
  right: 20px;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
  top: 10px;
}

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 18px;
}

#hamburger span:nth-child(4) {
  top: 26px;
}

#hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* Fullscreen Mode */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.fullscreen .bb-custom-wrapper {
  transform: translateY(25%);
}

.grayBG.fullscreen .main {
  top: 45px;
}

.grayBG.fullscreen footer .container {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.grayBG.fullscreen {
  background-color: #2D2929;
  position: absolute;
}

.fullscreen .ion-android-expand {
  display: none;
}

.fullscreen .ion-android-expand.fs {
  display: block;
  top: 10px;
}