/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1430px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1430px) {
  .footerBlurb {
    top: -105px;
    left: -100px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1400px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1400px) {
  ul.footerRightIcons, .footerInfoCircle {
    bottom: -30px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1200px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1280px) {
  .footerBlurb {
    top: -95px;
    left: -10px;
  }

  .poem p {
    width: 100%;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1200px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1200px) {
  .arrow {
    display: none;
  }

  .bio .bioTitle {
    font-size: 5.5em;
    left: 0;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1060px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1060px) {
  .main, footer .container {
    width: initial !important;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 992px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
  .ion-android-expand {
    top: 130px;
  }

  .mainHeaderWrapper {
    height: 120px;
  }

  .poem p {
    width: 100%;
  }

  .main {
    width: 750px;
  }

  footer .container {
    width: 750px;
  }

  .bio .bioTitle {
    left: 0;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 768px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 768px) {
  .headerWrapper, .mobileSearch, .mobileSignIn {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .mainHeaderWrapper {
    height: auto;
    padding: 20px 0;
  }

  .ion-android-expand {
    top: 71px;
  }
}