/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1400px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1400px) {
  .footerBG {
    width: 90%;
    margin: 0 auto 10px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1300px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1300px) {
  .footerBG {
    width: 80%;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1280px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1280px) {
  .poem p {
    width: 100%;
  }

  .ion-ios-arrow-backward {
    left: 3%;
  }

  .ion-ios-arrow-forward {
    right: 3%;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1200px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1200px) {
  .footerInfoCircle {
    z-index: 999;
    bottom: inherit;
  }

  footer#footer {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
  }

  .arrow {
    display: none;
  }

  .bio .bioTitle {
    font-size: 5.5em;
    left: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .poem .girlTwo, .bio .girlThree, .bio .girlFour, .bio2 .girlFive {
    width: initial;
    max-width: 100%;
    position: static;
  }

  .poem .girlTwo {
    margin: 100px auto 20px;
  }

  .poem p {
    width: 75%;
  }

  .bio .girlFour {
    position: relative !important;
    left: 0;
    top: -3px;
    float: right;
  }

  .bio2 p {
    margin: 20px auto;
    top: 0;
    left: 0;
    width: initial;
  }

  .bio2 .girlFive {
    margin: 0 auto 30px;
  }

  .footerBlurb {
    top: 145px;
    left: 120px;
    background-color: transparent;
    z-index: 999;
  }

  .footerBlurb p {
    margin: 0;
    position: relative;
    left: -50%;
    background-color: #595758;
  }

  ul.footerRightIcons, .footerInfoCircle {
    top: 127px;
  }

  ul.footerRightIcons {
    left: 0;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1060px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1060px) {
  .main, footer .container {
    width: initial !important;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 992px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
  .ion-android-expand {
    top: 130px;
  }

  .mainHeaderWrapper {
    height: 120px;
  }

  .poem p {
    width: 100%;
  }

  .main {
    width: 750px;
  }

  footer .container {
    width: 750px;
  }

  .bio .bioTitle {
    left: 0;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 875px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 875px) {
  .bio .girlFour {
    float: none;
  }

  .bio .girlThree, .bio .girlFour {
    margin: 0 auto;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 768px and Below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 768px) {
  .headerWrapper, .mobileSearch, .mobileSignIn {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .mainHeaderWrapper {
    height: auto;
    padding: 20px 0;
  }

  .ion-android-expand {
    top: 71px;
  }

  ul.footerRightIcons, .footerInfoCircle {
    top: 68px;
  }

  footer#footer {
    top: 82px;
  }

  .footerBlurb {
    top: 85px;
  }
}